* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

.container {
    background-color: #000;
    width: 400px;
    margin: 0px auto;
    text-align: center;
    color: #fff;
    padding: 40px;
}

h4,
.btn {
    margin-bottom: 20px;
    padding: 10px;
}

.para {
    display: none;
    margin-top: 40px;
}